@import "./variables/custom.scss";
@import "~bootstrap/scss/bootstrap";



// OOCSS
.fz13{
    font-size: .8125rem;
}
.fz14{
    font-size: .875rem;
}
.fz15{
    font-size: .9375rem;
}
.fz16{
    font-size: 1rem;
}
.fz18{
    font-size: 1.125rem;
}
.fz20{
    font-size: 1.25rem;
}
.fz24{
    font-size: 1.5rem;
}
.fz28{
    font-size: 1.75rem;
}